{
  "extends": "airbnb",
  "rules": {
    "comma-dangle": ["error", "never"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/require-default-props": [0],
    "no-trailing-spaces": ["error", { "skipBlankLines": true }],
    "padded-blocks": ["error", { "switches": "always" }],
  },
  "env": {
    "browser": true,
    "node": true
  }
}
