html, body, #root {

  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

footer {

  text-align: center;
  margin: 10px;
}

/* Utility Component Styles */

.scrollable {

  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.recipe-btn {

  align-self: flex-end;
  margin-top: auto;
  padding: 8px;
}

/* General Component Styles */

.root {

  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

.app {

  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
}

.box {

  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 15px;
  padding: 10px;
  text-align: center;
  border: 1px solid lightgrey;
}

.recipe, .ingredient {

  margin: 6px;
  padding: 6px;
  border: 1px solid lightgrey;
  width: 100%;
}