html, body, #root {

  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

footer {

  text-align: center;
  margin: 10px;
}

.root {

  display: flex;
  flex-direction: column;
  height: 100%;
}

.app {

  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
}

.recipe-box {

  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: 1px solid lightgrey;
}

.scrollable {

  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.recipe {

  margin: 6px;
  padding: 6px;
  border: 1px solid lightgrey;
  width: 100%;
}